<div class="container">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2" id="formWrapper">
    <h4>User form</h4>
    <form (ngSubmit)="onSubmit()" [formGroup]="userForm">

      <div class="form-group">
        <label for="firstname">First Name:</label>
        <input class="form-control" type="text" id="firstname" [ngClass]="{'invalid': !allowSubmit}" formControlName="firstname">
        <span class="text-muted" *ngIf="!userForm.get('firstname').valid && userForm.get('firstname').touched">Please enter your first name!</span>
      </div>

      <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input class="form-control" type="text" id="lastname" [ngClass]="{'invalid': !allowSubmit}" formControlName="lastname">
        <span class="text-muted" *ngIf="!userForm.get('lastname').valid && userForm.get('lastname').touched">Please enter your second name!</span>
      </div>

      <div class="form-group">
        <label for="email">E-mail address:</label>
        <input class="form-control" type="email" id="email" [ngClass]="{'invalid': !allowSubmit}" formControlName="email">
        <span class="text-muted" *ngIf="!userForm.get('email').valid && userForm.get('email').touched">Please enter a valid email!</span>
      </div>

      <div class="form-group">Gender:<br>
        <div *ngFor="let gender of genders" class="form-check form-check-inline">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" [value]="gender" formControlName="gender">{{ gender }}
          </label>
        </div>
      </div>
      
      <div class="form-group">Select your favorite color:<br>
        <div *ngFor="let color of colors" class="form-check form-check-inline">
          <label class="checkbox-inline">
            <input class="form-check-input" type="checkbox" formControlName="color">{{ color }}
          </label>
        </div>
      </div>

      <div class="error">
        <span *ngIf="!allowSubmit && !userForm.valid">*The form can't be submitted, as some field(s) is incorrectly filled in, please try again</span>
      </div>

      <div class="error">
        <span *ngIf="duplicate && userForm.valid">*The e-mail address you've entered is already used by another user, please try again</span>
      </div>
      
      <button class="btn btn-primary" type="submit">Submit</button>

    </form>
  </div>
</div>






