<h4>Line charts</h4>
<div class="container">
  <div class="tooltipInfo" *ngIf="wasHovered">
    <p>{{ pointInfo.context.x }}</p>
    <p>{{ pointInfo.context.series.name }}: {{ pointInfo.context.y }} mm</p>
  </div>
  <chart [options]="chartData1" class="line1">
    <series [routerLink]="['/data-grid-page', chartData1?.chartID.value]"></series>
  </chart>
  <chart [options]="chartData2" class="line2">
    <series [routerLink]="['/data-grid-page', chartData2?.chartID.value]"></series>
  </chart>
</div>