<p>Solar Employment Growth Table</p>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Year Column -->
  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Year </th>
    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
  </ng-container>

  <!-- Installation Column -->
  <ng-container matColumnDef="installation">
    <th mat-header-cell *matHeaderCellDef> Installation </th>
    <td mat-cell *matCellDef="let element"> {{element.installation}} </td>
  </ng-container>

  <!-- Manufacturing Column -->
  <ng-container matColumnDef="manufacturing">
    <th mat-header-cell *matHeaderCellDef> Manufacturing </th>
    <td mat-cell *matCellDef="let element"> {{element.manufacturing}} </td>
  </ng-container>

  <!-- Sales & Distribution Column -->
  <ng-container matColumnDef="sales">
    <th mat-header-cell *matHeaderCellDef> Sales & Distribution </th>
    <td mat-cell *matCellDef="let element"> {{element.sales}} </td>
  </ng-container>

  <!-- Project Development Column -->
  <ng-container matColumnDef="project">
    <th mat-header-cell *matHeaderCellDef> Project Development </th>
    <td mat-cell *matCellDef="let element"> {{element.project}} </td>
  </ng-container>

  <!-- Other Column -->
  <ng-container matColumnDef="other">
    <th mat-header-cell *matHeaderCellDef> Other </th>
    <td mat-cell *matCellDef="let element"> {{element.other}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
