.wrapper {
  text-align: center;
}

h2 {
  color: brown;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.returnBtn {
  background: #000;
  color: #fff;
  height: 35px;
  width: 80px;
  border-radius: 40px 20px;
  cursor: pointer;
}
