@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.highcharts-credits {
  display: none;
}

.highcharts-series-group {
  cursor: pointer;
}

table {
  width: 60%;
  margin: 0 auto;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

table {
  text-align: left;
}

.mat-sort-header-button {
  text-transform: capitalize;
}

.mat-header-cell {
  color: brown;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
}

.mat-cell {
  color: black;
}

p {
  font-size: 20px;
  font-weight: bold;
}

.tooltip {
  border: 1px solid brown;
  width: 200px;
  margin: 0 auto;
  background: rgb(124, 181, 236);
  cursor: pointer;
}

.tooltip p {
  font-size: 14px;
  color: brown;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
}
